source https://nuget.org/api/v2

nuget Microsoft.Owin 3.0.0
nuget Microsoft.Owin.Diagnostics 3.0.0
nuget Microsoft.Owin.FileSystems 3.0.0
nuget Microsoft.Owin.Host.HttpListener 3.0.0
nuget Microsoft.Owin.Hosting 3.0.0
nuget Microsoft.Owin.StaticFiles 3.0.0
nuget Mono.Cecil 0.9.5.4
nuget NUnit
nuget Owin 1.0
nuget WebSharper 3.0.26.107-alpha
nuget WebSharper.Owin 3.0.19.30-alpha
